

#form_server_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#loading_img{
    width: 25px;
}

#search-bar{
    background: none;
    color: white;
}

#card_server{
    height: 50%;
}

#card_addons{
    height: 50%;
}

#card_addon div div span{
    width: 100%;
}

#div-table{
    max-height: 100%;
    overflow-y: auto;
}

.card_addon{
    width: 300px;
    min-width: 300px;
}

.addon_picture{
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border: solid 1px #5a616b;
    border-radius: 10px;
    overflow: hidden;
}

#list-addons{
    overflow: scroll;
}

.addon_picture img{
    width: 100%;
}

#previewImage{
    width: 100px;
    height: 100px;
    border: solid 1px #5a616b;
    border-radius: 10px;
}

#card_add_addon{
    min-width: 400px;
    max-width: 400px;
    min-height: 325px;
    max-height: 325px;
}

#config-addon-description{
    min-height: 75px;
    min-width: 250px;
    padding: 0;
}

#table-addons{
    min-height: 100%;
}

span{
    width: 150px;
}

.addon-info{
    height: 100px;
}

.addon-description{
    height: 75px;
    overflow: hidden;
    padding: 2px;
    background-color: black;
    border: solid 1px #5a616b;
    border-radius: 10px;
}
