#form_server_proterties {
    display: flex;
    flex-direction: column;
    width: 50%;


}

.card{
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background: gray;
    display: flex;
    flex-direction: column;
}

#command{

}

#addon-maps, #addon-characters{
    max-height: 300px;
    width: 300px;
    overflow: scroll;
}

#console-content{
    background: saddlebrown;
    min-height: 500px;
    max-height: 500px;
}

#form_addons{
    border: solid grey 1px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    position: fixed;
    justify-self: center;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}