
#console-content{
    background: black;
    min-height: 300px;
    max-height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    border: solid 1px #5a616b;
    border-radius: 10px;
}



#form_addons{
    border: solid grey 1px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    position: fixed;
    justify-self: center;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

#command{
    width: 100%;
}

.card{
    width: 50%;
}

.addon_picture{
    max-width: 50px;
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.addon_picture img{
    width: 100%;
}

#list_addons{
    height: 300px;
    overflow-y: scroll;
}

#addons div:nth-child(2) {
    height: 300px;
}

