body{
    background: black;
    color: white;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    justify-content: space-between;
}

#notification{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border: solid 1px;
}

.card{

}

#left-bar{
    background: saddlebrown;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
}

#content{
    margin: 20px;
    padding: 10px;
    border: solid 1px ;
    border-radius: 10px;
    width: 100%;
}




#action-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#options{
    border: solid white 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    height: 25px;
}

#options-actions{
    display: flex;
    flex-direction: row;
    gap: 0;
    border-radius: 5px;
    border: solid white 1px;
}

#options-actions > button{
    background: none;
    color: white;
    border: solid white 1px;
}

.hidden{
    display: none;
}